# SET CONTEXT PATH
server.port=8081


spring.datasource.driver-class-name=com.mysql.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/aurora_desk?autoReconnect=true&zeroDateTimeBehavior=convertToNull
spring.datasource.username={{ datasource_user | b64decode }}
spring.datasource.password={{ datasource_pwd | b64decode }}
spring.http.multipart.max-file-size=10MB
spring.http.multipart.max-request-size=10MB

urls.whitelist=/,/user/login,/user/logout,/signup,/token/validate,/upload,/user/forgotPassword,/superadmin/getAuthTypes,/tickets/getTemplateVersion,/user/updateEkstepUser,/superadmin/addOrganization,/helpdesk/getPerformanceWithoutAccessControl

services.esindexer.host={{ es_host | b64decode }}
services.esindexer.host.name={{ es_host_name | b64decode }}
services.esindexer.host.port=9200
services.esindexer.username={{ es_user | b64decode }}
services.esindexer.password={{ es_pwd | b64decode }}
es.templates.index.name=tkt_templates
es.templates.document.type=tkt_templates
elasticsearch.url=elasticsearch-dev.idc.tarento.com
elasticsearch.index=aurora-ticket
elasticsearch.type=doc

elk.data.up=true

image.source.aws=true
image.source.attachment.aws=true




